amqp==5.4.0 ; python_version >= "3.14"
asgiref==3.12.1 ; python_version >= "3.14"
billiard==4.3.0 ; python_version >= "3.14"
celery==5.6.3 ; python_version >= "3.14"
certifi==2026.7.22 ; python_version >= "3.14"
charset-normalizer==3.5.2 ; python_version >= "3.14"
click-didyoumean==0.3.1 ; python_version >= "3.14"
click-plugins==1.1.1.2 ; python_version >= "3.14"
click-repl==0.4.0 ; python_version >= "3.14"
click==8.5.0 ; python_version >= "3.14"
coverage==7.16.2 ; python_version >= "3.14"
django-cors-headers==4.9.0 ; python_version >= "3.14"
django==6.1.1 ; python_version >= "3.14"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.14"
djangorestframework==3.18.1 ; python_version >= "3.14"
drf-yasg==1.21.15 ; python_version >= "3.14"
gunicorn==26.2.0 ; python_version >= "3.14"
idna==3.20 ; python_version >= "3.14"
inflection==0.5.1 ; python_version >= "3.14"
kombu==5.6.2 ; python_version >= "3.14"
packaging==26.3 ; python_version >= "3.14"
prompt-toolkit==3.0.53 ; python_version >= "3.14"
psycopg2-binary==2.9.13 ; python_version >= "3.14"
pyjwt==2.15.1 ; python_version >= "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.14"
python-dotenv==1.2.4 ; python_version >= "3.14"
pytz==2026.4 ; python_version >= "3.14"
pyyaml==6.0.3 ; python_version >= "3.14"
redis==4.6.0 ; python_version >= "3.14"
requests==2.34.2 ; python_version >= "3.14"
six==1.17.0 ; python_version >= "3.14"
sqlparse==0.6.0 ; python_version >= "3.14"
typing-extensions==4.16.0 ; python_version >= "3.14"
tzdata==2026.4 ; python_version >= "3.14"
tzlocal==5.4.4 ; python_version >= "3.14"
uritemplate==4.2.0 ; python_version >= "3.14"
urllib3==2.8.0 ; python_version >= "3.14"
vine==5.1.0 ; python_version >= "3.14"
wcwidth==0.9.1 ; python_version >= "3.14"
